  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #ffffff;
    font-family: "Gowun Batang", serif;
  }

  .auth-container {
    width: 400px;
    background-color: white;
    font-family: "Gowun Batang", serif;
  }

  .tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fee2e2;
  }

  .tab-button {
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }

  .tab-button.active {
    padding: 10px;
    background-color: #dc2626;
    color: white;
  }

  .form-content {
    padding: 20px;
    display: none;
  }

  .form-content.active {
    display: block;
  }

  .input-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #dc2626;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .submit-button:disabled {
    background-color: #f87171;
  }

  .title h1 {
    text-align: center;
    margin: 20px;

    font-family: "Gowun Batang", serif;
    font-weight: bolder;
    font-style: normal;
  }
  .title h6 {
    text-align: center;
    margin : 20px;

    font-family: "Gowun Batang", serif;
    font-weight: bolder;
    font-style: normal;
  }